# Example env file, copy to ./.env and edit
# Values shown here, are also the default values when none are given

# These are required for pushing to Harvest
EMAIL=your@email.com
HARVEST_ACCOUNT_ID=1234
HARVEST_TOKEN=1234

# Optional
ARCHIVE_DIR="/tmp/archive"
STATUSBAR_FILE="/tmp/task"
TIMETRACK_DB="/tmp/timetrack.db"
PROJECT_ID="1"
TASK_ID="1"
HOURS="10"
